
/*========================================================
 This is the link for color browser only support 140 color
 https://htmlcolorcodes.com/color-names/ 
=========================================================*/

h2{
    background-color: pink;
    border-color: rebeccapurple;
    color:indigo;
}
button{
    /* For Color
    1. simply type name ==> EG:- red
    2. RGB way: Each rgb goes from 0 to 255 ==> EG:- rgb(51, 0, 255);
    3. Hexadecimal way: 0-9 & a,b,c,d,e,f ==>EG:- #ffff00  r g b *(2) most used shorter
    */
    color: rgb(51, 0, 255);
    background-color:#ffff00;
}

p{
    color: red;
    background-color: lightcyan;
}

body{
    background-color: #52694c;
}