        div {
            width: 200px;
            width: 200px;
            background-color: sandybrown;
            border-radius: 10% 50% 40% 5%;
            /* border-radius: 10px;
            border-radius: 10px
            */
        }
        
        #one {
            border-width: 5px;
            border-color: seagreen;
            border-style: solid;
            /* This will fit the border sizing*/
            box-sizing: border-box;
        }
        
        #two {
            border-style: dotted;
            box-sizing: border-box;
            border-color: slateblue;
            border-width: 5px;
        }
        
        #three {
            border: 5px solid hotpink;
            box-sizing: border-box;
            border-left-style: dotted;
        }